---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Block from '../components/Block.astro';
import { query, blockQueries, getString } from '../lib/prismicHelpers.js';

const response = await query(`
	query{
		allLongform_chapters(id: "YbDuIRUAADEAj-if") {
			edges {
				node {
					title
					subtitle
				}
			}
		}
	}
`);

// clean up field names in the response data
let {
	title,
	subtitle,
	body
} = await response.data.allLongform_chapters.edges[0].node;

---
<BaseLayout pageTitle="article" path="article">
  <!-- <main class="padding-y-flow-wide padding-y-xwide">
    {body.map(block => <Block {block} />)}
  </main> -->
  {getString(title)}
</BaseLayout>